@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100;200;300;400;500;600;700&display=swap");

body {
	margin: 0;
	padding: 0;
	background-color: #182628;
	color: #f2f2f2;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: "M PLUS 1 Code", sans-serif;
}

h1 {
	font-size: 50px;
}

#game {
	display: flex;
	background-color: #0e1617;
}

.card {
	width: 150px;
	height: 150px;
	background-color: #57ba98;
	border: 10px outset #3b945e;
	border-radius: 10px;
	text-align: center;
	font-size: 100px;
	line-height: 150px;
	margin: 5px;
	padding: 10px;
}

.card-text {
	font-size: 16px;
	line-height: 20px;
}

.genre-column {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.card-data-question {
	line-height: 30px;
	font-size: 20px;
}

.genre-title {
	background-color: #57ba98;
	text-align: center;
	font-size: 28px;
	padding: 5px;
	margin: 5px;
}

.correct-answer {
	background-color: #fbff12;
	color: #0e1617;
	/* only !important to over write the js */
	font-size: 100px !important;
	line-height: 150px !important;
}

.wrong-answer {
	background-color: #bb0a21;
	/* only !important to over write the js */
	font-size: 100px !important;
	line-height: 150px !important;
}

button {
	margin: 3px;
	color: #ffff;
	background-color: #57ba98;
	border-radius: 25px;
	border: 2px solid #ffff;
	padding: 2px 10px;
	font-size: 16px;
}
